<form id="main">
  <div id="container_demo" >
    <div id="wrapper">
      <div id="login" class="animate form">
          <h1>Вход</h1>
          <div>
            <input class="user" type="text" class="input" placeholder="Username" name="username">
          </div>
          <div>
            <input class="pass" type="password" class="input" data-type="password" placeholder="Password" name="password">
          </div>
          <div class="keeplogin">
            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
            <label for="loginkeeping">Запомнить меня</label>
          </div>
          <div class="login button">
            <input type="button" class="button">
          </div>
          <p class="change_link">
            Не зарегистрированы еще ?
            <a href="#toregister" class="to_register">Присоединяйтесь</a>
          </p>
      </div>

      <div id="register" class="animate form">
          <h1> Регистрация </h1>
          <div>
            <input id="user" type="text" class="input" placeholder="Username" name="username">
          </div>
          <div>
            <input id="pass" type="text" class="input" placeholder="Email Address" name="email">
          </div>
          <div>
            <input class="pass" type="password" class="input" data-type="password" placeholder="Password" name="password" >
          </div>
          <div>
            <input class="pass" type="password" class="input" data-type="password" placeholder="Repeat Password" name="repeatPassword" >
          </div>
          <p class="signin button">
            <input type="button" class="button">
          </p>
          <p class="change_link">
            Уже зарегистрированы ?
            <a href="#tologin" class="to_register"> Войдите на сайт </a>
          </p>
      </div>
    </div>
  </div>
</form>
