<div id="form" class="input-area">
  <form onsubmit="return checkformufinforum(this)"  method="post">
    <textarea id="stt" name="area" rows="1" placeholder="Что новенького?" type="text" required #itemInput></textarea>
    <a href="#" class="button" (click)="publishNews(itemInput.value); itemInput.value = ''">Опубликовать</a>
    <!--<input class="button" type="submit" (click)="publishNews(itemInput.value); itemInput.value = ''">-->
  </form>
</div>
<div id="newslist" *ngFor="let item of items">
  <app-news-list-item [value]="item"></app-news-list-item>
</div>

